.font-face-ar, .font-face-ar body {
    font-family: 'Tajawal', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

#map {
    height: 500px;
}

.info {
    font-size: 0.9rem;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend span, .legend label {
    display: block;
    width: 43px;
    height: 18px;
    float: left;
    opacity: 0.7;
    text-align: center;
    font-size: 80%;
}

.info .province {
    text-align: center;
    font-weight: bold;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom: 0.5rem;
    height: 26px;
}

.confirmed {
    color: rgb(255, 159, 64);
    font-weight: bold;
}

.recovered {
    color: rgb(75, 192, 192);
    font-weight: bold;
}

.deaths {
    color: rgb(255, 99, 132);
    font-weight: bold;
}

.province {
    font-weight: bold;
}

.table_style {
    width: 100% !important;
}

.table_style thead th {
    vertical-align: middle !important;
}

.card-confirmed {
    border-top: 4px solid rgb(255, 193, 7) !important;
}

.card-new-confirmed {
    border-radius: 32px;
    background: rgba(255, 193, 7, 0.2);
}

.card-recovered {
    border-top: 4px solid rgb(40, 167, 69) !important;
}

.card-new-recovered {
    border-radius: 32px;
    background: rgba(40, 167, 69, 0.2);
}

.card-deaths {
    border-top: 4px solid rgb(220, 53, 69) !important;
}

.card-new-deaths {
    border-radius: 32px;
    background: rgba(220, 53, 69, 0.2);
}

.card-treatment {
    border-top: 4px solid rgb(23, 162, 184) !important;
}

.card-new-treatment {
    border-radius: 32px;
    background: rgba(23, 162, 184, 0.2);
}

/* Hack for Tajwal font */
[dir="rtl"] .card-font-ar {
    height: 36px;
    line-height: 46px;
}

[dir=rtl] .dropdown-menu {
    right: auto !important;
}

.text-value-xl {
    font-size: 1.53125rem;
}

[class^=text-value] {
    font-weight: 600;
}

.spacing {
    padding-bottom: 3px;
}

.tooltip-info {
    font-size: smaller;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

div.dataTables_filter {
    margin-top: 1rem!important;
    margin-right: 14px;
}

@media screen and (max-width: 767px) {
    div.dataTables_filter {
        margin-right: 0px;
    }
}

.preloader {
    align-items: center;
    background: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #8f9193;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.blink {
    background: rgba(255, 82, 82, 1);
    border-radius: 50%;
    margin-bottom: -.1rem!important;
    height: 12px;
    width: 12px;
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 6px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}
