#map {
    height: 500px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend span, .legend label {
    display: block;
    width: 43px;
    height: 18px;
    float: left;
    opacity: 0.7;
    text-align: center;
    font-size: 80%;
}

.confirmed {
    color: rgb(255, 159, 64);
    font-weight: bold;
}

.recovered {
    color: rgb(75, 192, 192);
    font-weight: bold;
}

.deaths {
    color: rgb(255, 99, 132);
    font-weight: bold;
}

.province {
    font-weight: bold;
}

.table_style {
    width: 100% !important;
}

.table_style thead th {
    vertical-align: middle !important;
}

.card-confirmed {
    border-top: 4px solid rgb(255, 193, 7) !important;
}

.card-new-confirmed {
    border-radius: 32px;
    background: rgba(255, 193, 7, 0.2);
}

.card-recovered {
    border-top: 4px solid rgb(40, 167, 69) !important;
}

.card-new-recovered {
    border-radius: 32px;
    background: rgba(40, 167, 69, 0.2);
}

.card-deaths {
    border-top: 4px solid rgb(220, 53, 69) !important;
}

.card-new-deaths {
    border-radius: 32px;
    background: rgba(220, 53, 69, 0.2);
}

.card-treatment {
    border-top: 4px solid rgb(23, 162, 184) !important;
}

.card-new-treatment {
    border-radius: 32px;
    background: rgba(23, 162, 184, 0.2);
}

.text-value-xl {
    font-size: 1.53125rem;
}

[class^=text-value] {
    font-weight: 600;
}

.spacing {
    padding-bottom: 3px;
}

.tooltip-info {
    font-size: smaller;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

div.dataTables_filter {
    margin-top: 1rem!important;
    margin-right: 14px;
}

@media screen and (max-width: 767px) {
    div.dataTables_filter {
        margin-right: 0px;
    }
}

@keyframes load {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.load > div {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 14px;
  left: 14px;
  border-radius: 50%;
  border: 12px solid red;
  border-color: red transparent red transparent;
  animation: load 1.6s linear infinite;
}

.load-spinner {
  width: 26px;
  height: 26px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.load {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.21);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.spinner {
    display: inline-block;
    position: absolute;
    margin: 1px auto;
    width: 36px;
    height: 26px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #8f9193;
    height: 100%;
    width: 3px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
