@import '../node_modules/bootstrap-v4-rtl/dist/css/bootstrap-rtl.css';
@import '../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '../node_modules/tippy.js/dist/tippy.css';
@import '../node_modules/leaflet/dist/leaflet.css';

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tajawal'), local('Tajawal-Regular'), url('../static/fonts/Tajawal.woff2') format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Tajawal'), local('Tajawal-Regular'), url('../static/fonts/Tajawal2.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.font-face-ar, .font-face-ar body {
    font-family: 'Tajawal', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

a:hover, a:focus {
    text-decoration: none !important;
}

:root {
    --dark-color: #e6e6e6;
    --dark-bg-color: #222;
    --dark-bg-color-card: #303030;
    --dark-bg-color-blue: #375a7f;
    --dark-bg-color-th: #303030;
    --dark-border-color: #444;
    color-scheme: light dark;
}

/*:root { */
/*     --dark-color: #e1e1e1; */
/*     --dark-bg-color: #0a0b18; */
/*     --dark-bg-color-card: #23242d; */
/*     --dark-bg-color-blue: #375a7f; */
/*     --dark-bg-color-th: #303030; */
/*     --dark-border-color: #181924; */
/*     color-scheme: light dark; */
/* } */

body, body .card {
    transition:
        color 0.5s ease,
        background-color 0.5s ease,
        box-shadow 0.5s ease,
        border 0.5s ease;
}

.dark {
    color: var(--dark-color);
    background-color: var(--dark-bg-color);
    border-color: var(--dark-border-color);
}

.dark .text-secondary, .dark .text-muted {
    color: var(--dark-color) !important;
}

/* .dark .preloader { */
/*     background-color: var(--dark-bg-color); */
/* } */

.dark .dropdown-menu {
    color: var(--dark-color);
    background-color: var(--dark-bg-color);
    border-color: var(--dark-border-color);
}

.dark .dropdown-item {
    color: var(--dark-color);
}

.dark .dropdown-item:hover, .dropdown-item:focus {
    color: var(--dark-color);
    background-color: var(--dark-bg-color-blue);
}

.dark .card {
    color: var(--dark-color);
    background-color: var(--dark-bg-color-card);
    border-color: var(--dark-border-color);
}

.dark .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.5) !important;
}

.dark .nav-tabs {
    border-bottom: 1px solid var(--dark-border-color);
}

.dark .nav-tabs .nav-link.active, .dark .nav-tabs .nav-item.show .nav-link {
    color: var(--dark-color);
    background-color: var(--dark-bg-color);
    border-color: var(--dark-border-color) var(--dark-border-color) transparent;
}

.dark .nav-tabs .nav-link {
    color: var(--dark-color);
}

.dark .nav-tabs .nav-link:hover, .dark .nav-tabs .nav-link:focus {
    border-color: var(--dark-border-color) var(--dark-border-color) transparent;
}

.dark .tab-content .border {
    border-color: var(--dark-border-color) var(--dark-border-color) transparent !important;
}

.dark .table {
    color: var(--dark-color);
    border-color: var(--dark-border-color);
}

.dark .table .thead-light th {
    color: var(--dark-color);
    background-color: var(--dark-bg-color-th);
    border-color: var(--dark-border-color);
}

.dark .table tbody {
    color: var(--dark-color);
    border-color: var(--dark-border-color);
}

.dark .table-bordered td, .dark .table-bordered th {
    border-color: var(--dark-border-color);
}

.dark .table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.075);
}

/* Webkit */
/* .dark .dataTables_scrollBody::-webkit-scrollbar { */
/*     width: 18px; */
/*     height: 18px; */
/*     background-color: var(--dark-bg-color) */
/* } */

/* .dark .dataTables_scrollBody::-webkit-scrollbar-thumb { */
/*     border-radius: 9px; */
/*     border: solid 6px transparent; */
/*     background-clip: content-box; */
/*     background-color: var(--dark-color) */
/* } */

/* .dark .dataTables_scrollBody::-webkit-scrollbar-thumb::hover { */
/*     border-radius: 9px; */
/*     border: solid 6px transparent; */
/*     background-clip: content-box; */
/*     background-color: var(--dark-color) */
/* } */

.dark footer.border-top {
    border-color: var(--dark-border-color) !important;
}

.dark .info {
    background: var(--dark-bg-color);
    border: 1px solid transparent;
    border-color: var(--dark-border-color);
}

.dark .info .province {
    border-color: var(--dark-border-color);
}

.dark .form-control {
    color: var(--dark-color);
    background-color: var(--dark-bg-color-card);
    border-color: var(--dark-border-color);
}

.dark .form-control:focus {
    color: var(--dark-color);
    background-color: rgba(255,255,255,.15);
    border-color: rgba(255,255,255,.2);
    box-shadow: 0 0 0 0.05rem rgba(255,255,255,.25);
}

.dark select option {
    color: var(--dark-color);
    background: var(--dark-bg-color);
}

.dark select option:focus {
    outline-color: var(--dark-border-color);
}

.dark dailychartsDropdown {
    background: var(--dark-bg-color);
    border-color: var(--dark-border-color);
}

.dark #dailychartsDropdown:before {
    border-bottom-color: var(--dark-border-color);
}

.dark #dailychartsDropdown:after {
    border-top-color: var(--dark-border-color);
}

.dark #dailychartsDropdown #dailyChartsList {
    color: var(--dark-color);
    background: var(--dark-bg-color);
    border-color: var(--dark-border-color);
}

.dark #dailychartsDropdown #dailyChartsList:focus {
    color: #ccc;
}

.dark #dailychartsDropdown #dailyChartsList > option {
    background: #444;
}

.dark .leaflet-control-attribution {
    color: var(--dark-color) !important;
    background: var(--dark-bg-color) !important;
}

.dark .leaflet-bar a, .dark .leaflet-bar a:hover {
    color: var(--dark-color) !important;
    background: var(--dark-bg-color-card) !important;
    border-color: var(--dark-border-color) !important;
}

#map {
    height: 500px;
}

.info {
    font-size: 0.9rem;
    padding: 6px 8px;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend span, .legend label {
    display: block;
    width: 43px;
    height: 18px;
    float: left;
    opacity: 0.7;
    text-align: center;
    font-size: 80%;
}

.info .province {
    text-align: center;
    font-weight: bold;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom: 0.5rem;
    height: 26px;
}

.confirmed {
    color: rgb(255, 159, 64);
    font-weight: bold;
}

.recovered {
    color: rgb(75, 192, 192);
    font-weight: bold;
}

.deaths {
    color: rgb(255, 99, 132);
    font-weight: bold;
}

.province {
    font-weight: bold;
}

.table-style {
    width: 100% !important;
}

.table-style thead th {
    vertical-align: middle !important;
}

.card-confirmed {
    border-top: 4px solid rgb(255, 193, 7) !important;
}

.card-new-confirmed {
    border-radius: 32px;
    background: rgba(255, 193, 7, 0.2);
}

.card-recovered {
    border-top: 4px solid rgb(40, 167, 69) !important;
}

.card-new-recovered {
    border-radius: 32px;
    background: rgba(40, 167, 69, 0.2);
}

.card-deaths {
    border-top: 4px solid rgb(220, 53, 69) !important;
}

.card-new-deaths {
    border-radius: 32px;
    background: rgba(220, 53, 69, 0.2);
}

.card-treatment {
    border-top: 4px solid rgb(23, 162, 184) !important;
}

.card-new-treatment {
    border-radius: 32px;
    background: rgba(23, 162, 184, 0.2);
}

/* Hack for Tajwal font */
[dir="rtl"] .card-font-ar {
    height: 36px;
    line-height: 46px;
}

[dir=rtl] .dropdown-menu {
    right: auto !important;
}

.text-value-xl {
    font-size: 1.53125rem;
}

[class^=text-value] {
    font-weight: 600;
}

.spacing {
    padding-bottom: 3px;
}

.tooltip-info {
    font-size: smaller;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

div.dataTables_filter {
    margin-top: 1rem!important;
    margin-right: 14px;
}

@media screen and (max-width: 767px) {
    div.dataTables_filter {
        margin-right: 0px;
    }
}

@media screen and (max-width: 767px) {
    .nav-link {
        padding: .5rem 0.5rem !important;
    }
}

.preloader {
    align-items: center;
    background: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #8f9193;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.blink {
    background: rgba(255, 82, 82, 1);
    border-radius: 50%;
    margin-bottom: -.1rem!important;
    height: 12px;
    width: 12px;
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 6px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

@font-face {
    font-family: 'icomoon';
    src: url('../static/fonts/icomoon.ttf?xk3myk') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chart-line:before {
  content: "\e900";
}
.icon-sitemap:before {
  content: "\e902";
}
.icon-cog:before {
  content: "\e901";
}
.icon-table:before {
  content: "\2630";
}
.icon-sun:before {
  content: "\1f31e";
}
.icon-share:before {
  content: "\1f44d";
}
.icon-moon:before {
  content: "\1f31a";
}
.icon-map:before {
  content: "\1f30e";
}
.icon-info-circle:before {
  content: "\1f4ac";
}
.icon-globe:before {
  content: "\1f310";
}
.icon-github:before {
  content: "\1f5a5";
}
.icon-envelope:before {
  content: "\1f4e8";
}
.icon-chart-bar:before {
  content: "\1f4ca";
}
